$backgroundColor: #060a3d;
$textcolor1: #fff;
$textcolor2: #868aaf;
$color2: #db3baa;
$color2-dark: darken($color2, 10%);
$color2-darker: darken($color2, 30%);
$color3: #0025f1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#musicplayer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: $backgroundColor;

  >.header {
    height: 50px;
    text-align: center;

    h1 {
      font-size: 20px;
      color: $textcolor1;
    }

    p {
      margin-top: 8px;
      font-size: 12px;
      color: $textcolor2;
    }
  }

  .main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;

    @media screen and (max-width: 480px) {
      flex: unset;
      height: calc(100vh - 230px);
    }

    .effects {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 300px;

      >div {
        position: absolute;
        background-size: contain;
      }

      .effect-1 {
        width: 100%;
        height: 100%;
        background: url(../img/effect-no-move.svg) 0 0 no-repeat;
      }

      .effect-2 {
        width: 80%;
        height: 80%;
        background: url(../img/effect-move1.svg) 0 0 no-repeat;
        animation: rotate 5s linear infinite;
        animation-play-state: paused;
      }

      .effect-3 {
        width: 20%;
        height: 20%;
        background: url(../img/effect-move2.svg) 0 0 no-repeat;
        animation: rotate 5s linear infinite reverse;
        animation-play-state: paused;
      }

      &.active {

        .effect-2,
        .effect-3 {
          animation-play-state: running;
        }
      }
    }

    .buttons {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding-top: 16px;

    .processbar {
      display: flex;
      align-items: center;
      padding: 0 10px;

      .time-start,
      .time-end {
        width: 40px;
        color: $textcolor2;
        font-size: 12px;
      }

      .bar {
        flex: 1;
        height: 4px;
        margin: 0 10px;
        border-radius: 2px;
        background: $color3;

        .progress {
          position: relative;
          width: 0%;
          height: 100%;
          border-radius: 2px;
          background: $color2;
          transition: all .2s;

          &::after {
            content: '';
            position: absolute;
            top: -5px;
            right: 0px;
            display: block;
            width: 14px;
            height: 14px;
            background: url(../img/progress.svg) 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 18px 20px 0;

      svg {
        width: 28px;
        height: 28px;

        &.btn-play-pause {
          width: 50px;
          height: 50px;
        }
      }
    }

    .musiclist {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background: $textcolor1;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      overflow: hidden;
      transition: all .3s;
      transform: translateY(100%);
      .panel-header {
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        border-bottom: 1px solid #eee;
        font-size: 16px;
        svg{
          width: 20px;
          height: 20px;
        }
        .close{
          cursor: pointer;
          
        }
      }
      .panel-body {
        height: 200px;
        margin-bottom: 20px;
        ul {
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;

          li {
            padding: 10px;
            cursor: default;
            .iconVoice{
              display: none;
            }
            .songName {
              font-size: 16px;
            }
            .author {
              font-size: 10px;
              color: $textcolor2;
            }
            &:hover{
              background: rgba(0, 0, 0, .1);
            }

            &.active {
              color: red;              
              .iconVoice{
                display: inline-block;
              }
              .author {
                color: inherit;
              }           
            }
          }
        }
      }
      &.active{
        // display: block;
        transform: translateY(0%);        
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}